@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #131722;
  color: #fff;
}

.genres div {
  background-color: #24baef;
  width:fit-content;
}
.details span {
  color:#949cb0;
  font-weight: 300;
  font-size:medium;
}
a {
  color:#fff;
  text-decoration: none;
}